.register__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.register{
    margin-top: 25px;
}
.register__container input{
    padding: 12px;
    width: 400px;
    font-size: 1rem;
    outline: none;
    border: 2px solid purple;
    border-radius: 20px;
    text-transform: capitalize;
}
.register__container p{
    font-size: 1.2rem;
    font-weight: bold;
}
.register__btn{
    margin-top: 55px;
}
.register__btn button{
    text-transform: uppercase;
    width: 150px;
    padding: 15px;
    font-size: 1rem;
    border-radius: 20px;
    background-color: rgb(153, 104, 153);
}
.register__btn button:hover{
    background-color: rgb(158, 125, 158);
    cursor: pointer;
}